
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    select {
        background: #fff !important;
    }
    .navbar {
        display: none;
    }
    .table td,
    .table th {
        background-color: #fff !important;
    }
    .btn > .caret,
    .dropup > .btn > .caret {
        border-top-color: #000 !important;
    }
    .label {
        border: 1px solid #000;
    }
    .table {
        border-collapse: collapse !important;
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ddd !important;
    }
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(/sites/all/themes/baesman/assets/fonts/glyphicons-halflings-regular.eot);
    src: url(/sites/all/themes/baesman/assets/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(/sites/all/themes/baesman/assets/fonts/glyphicons-halflings-regular.woff) format('woff'), url(/sites/all/themes/baesman/assets/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(/sites/all/themes/baesman/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


a {
    color: #57b219;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #366f10;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

figure {
    margin: 0;
}

img {
    vertical-align: middle;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: 6px;
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 50%;
}

hr {
    margin-top: 27px;
    margin-bottom: 27px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 100;
    line-height: 1.1;
    color: #00aeef;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #777777;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 27px;
    margin-bottom: 13.5px;
}

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
    font-size: 65%;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 13.5px;
    margin-bottom: 13.5px;
}

h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
    font-size: 75%;
}

h1,
.h1 {
    font-size: 69px;
}

h2,
.h2 {
    font-size: 38px;
}

h3,
.h3 {
    font-size: 31px;
}

h4,
.h4 {
    font-size: 23px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 16px;
}

p {
    margin: 0 0 13.5px;
}






.vertical-align {
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -transform: translateY(-50%);
}

.vertical-align-cancel {
    height: auto;
    position: static;
    top: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -transform: translateY(0);
}

.vertical-align-container {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.horizontal-align {
    width: auto;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -transform: translateX(-50%);
}

.center-align {
    height: auto;
    width: auto;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -transform: translate(-50%, -50%);
}

html:before {
    display: none;
}

@media (max-width:767px) {
    html:before {
        content: 'xs';
    }
}

@media (min-width:768px) {
    html:before {
        content: 'sm';
    }
}

@media (min-width:980px) {
    html:before {
        content: 'md';
    }
}

@media (min-width:1200px) {
    html:before {
        content: 'lg';
    }
}

@media (min-width:1500px) {
    html:before {
        content: 'xl';
    }
}

.hero h1,
.hero h3,
.hero .btn {
    color: #fff;
}

.hero h1 {
    margin-bottom: 5px;
    -webkit-transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0 0 50px;
}

.hero .btn {
    color: #fff !important;
}

.hero .btn:hover {
    color: #fff;
}

.hero .btn:before {
    background-image: url(/sites/all/themes/baesman/assets/img/global/icon-rightarrow-white.svg);
}

.hero .container {
    display: none;
}

.hero .details {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 1s 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: opacity 1s 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 1s 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero .details .btn {
    margin-top: -100px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: margin-top .6s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity .5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: margin-top .6s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity .5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: margin-top .6s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity .5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.hero .options {
    margin-left: -15px;
    margin-right: -15px;
    height: 100%;
    position: relative;
    z-index: 1;
}

.hero .options:before,
.hero .options:after {
    content: " ";
    display: table;
}

.hero .options:after {
    clear: both;
}

.hero .option {
    width: 50%;
    float: left;
    height: 100%;
    background-color: rgba(41, 194, 251, 0.7);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background-color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: background-color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: background-color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero .option .wrap {
    float: right;
}

.hero .option:last-child {
    text-align: right;
    background-color: rgba(126, 208, 38, 0.7);
}

.hero .option:last-child .wrap {
    float: left;
}

.hero .option:hover .details {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hero .option:hover .details .btn {
    opacity: 1;
    filter: alpha(opacity=100);
    margin-top: 0;
}

.hero .option .wrap {
    padding: 200px 0 150px;
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -transform: translateY(-50%);
    text-decoration: none;
}

.hero.desktop:hover .option {
    background-color: transparent;
}

.hero.desktop:hover .option h1 {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.hero.desktop:hover .option:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: rgba(41, 194, 251, 0.7);
}

.hero.desktop:hover .option:hover h1 {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hero.desktop:hover .option:hover:last-child {
    background-color: rgba(126, 208, 38, 0.7);
}

.hero ~ .headline {
    max-width: 900px;
}


#slider {
    width: 1440px;
    height: 680px;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#slider li {
    width: 240px;
}

#slider .activePage {
    width: 720px;
}

.navigation-text-styling {
    font: 11px/18px Georgia, Serif;
    height: 18px;
    padding: 2px 8px;
    margin: 0 5px 0 0;
}

.navigation-background {}

.navigation-background-hovered {
    background-image: none;
}

.anythingSlider-default {}

.anythingSlider-default .anythingControls a {
    background-color: #777;
    color: #000;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

.anythingSlider-default .anythingControls a span {
    visibility: visible;
}

.anythingSlider-default .anythingControls a.cur {
    background: #888;
    color: #000;
}

.anythingSlider-default .anythingControls a.start-stop {
    background-color: #040;
    color: #ddd;
}

.anythingSlider-default .anythingControls a.start-stop.playing {
    background-color: #800;
}

.anythingSlider-default .anythingControls a.start-stop:hover,
.anythingSlider-default .anythingControls a.start-stop.hover,
.anythingSlider-default .anythingControls a.start-stop .anythingControls ul a:hover {
    color: #fff;
    background-image: none;
}

.anythingSlider-default.activeSlider {}

.anythingSlider-default.activeSlider .anythingWindow {
    border-color: #7C9127;
}

.anythingSlider-default.activeSlider .anythingControls a {
    background-color: #7C9127;
}

.anythingSlider-default.activeSlider .anythingControls a.cur,
.anythingSlider-default.activeSlider .anythingControls a:hover {
    background: #7C9127;
}

.anythingSlider-default.activeSlider .anythingControls a.start-stop {
    background-color: #080;
    color: #fff;
}

.anythingSlider-default.activeSlider .anythingControls a.start-stop.playing {
    color: #fff;
    background-color: #d00;
}

.anythingSlider-default.activeSlider .start-stop:hover,
.anythingSlider-default.activeSlider .start-stop.hover {
    color: #fff;
}

.anythingSlider-default .arrow {
    top: 50%;
    position: absolute;
    display: block;
}

.anythingSlider-default .arrow a {
    display: block;
    width: 45px;
    height: 140px;
    margin: -70px 0 0 0;
    text-align: center;
    outline: 0;
}

.anythingSlider-default .back {
    left: 0;
}

.anythingSlider-default .back a {
    background-position: left top;
}

.anythingSlider-default .back a:hover,
.anythingSlider-default .back a.hover {
    background-position: left -140px;
}

.anythingSlider-default .forward {
    right: 0;
}

.anythingSlider-default .forward a {
    background-position: right top;
}

.anythingSlider-default .forward a:hover,
.anythingSlider-default .forward a.hover {
    background-position: right -140px;
}

.anythingSlider-default .anythingControls {
    outline: 0;
    display: none;
}

.anythingSlider-default .anythingControls ul {
    margin: 0;
    padding: 0;
    float: left;
}

.anythingSlider-default .anythingControls ul li {
    margin: 0;
    display: inline;
}

.anythingSlider-default .anythingControls ul a {
    font: 11px/18px Georgia, Serif;
    height: 18px;
    padding: 2px 8px;
    margin: 0 5px 0 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    outline: 0;
}

.anythingSlider-default .anythingControls .anythingNavWindow {
    overflow: hidden;
    float: left;
}

.anythingSlider-default .anythingControls .start-stop {
    padding: 2px 5px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    float: right;
    z-index: 100;
    outline: 0;
}

.as-oldie .anythingSlider-default {}

.as-oldie .anythingSlider-default .arrow {
    top: 35%;
}

.as-oldie .anythingSlider-default .arrow a {
    margin: 0;
}

.as-oldie .anythingSlider-default .anythingControls {}

.as-oldie .anythingSlider-default .anythingControls li {
    margin-left: 3px;
}

.as-oldie .anythingSlider-default .anythingControls a {
    margin: 0;
}

.as-oldie .anythingSlider-default .anythingNavWindow {
    margin: 0 2px;
}

.as-oldie .anythingSlider-default .anythingNavWindow li {
    padding: 3px 0 0 0;
}

.anythingSlider {
    display: block;
    overflow: visible !important;
    position: relative;
}

.anythingSlider .anythingWindow {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.anythingSlider .anythingBase {
    background: transparent;
    list-style: none;
    position: absolute;
    overflow: visible !important;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.anythingSlider .arrow span {
    display: block;
    visibility: hidden;
}

.anythingSlider .arrow.disabled {
    display: none;
}

.anythingSlider .panel {
    background: transparent;
    display: block;
    overflow: hidden;
    float: left;
    padding: 0;
    margin: 0;
}

.anythingSlider .vertical .panel {
    float: none;
}

.anythingSlider .fade {
    opacity: 1;
    filter: alpha(opacity=100);
}

.anythingSlider .fade .panel {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.anythingSlider .fade .activePage {
    z-index: 1;
}

.anythingSlider.rtl {}

.anythingSlider.rtl .anythingWindow {
    direction: ltr;
    unicode-bidi: bidi-override;
}

.anythingSlider.rtl .anythingControls ul {
    float: left;
}

.anythingSlider.rtl .anythingControls ul a {
    float: right;
}

.anythingSlider.rtl .start-stop {}

.anythingSlider .anythingWindow,
.anythingSlider .anythingControls ul a,
.anythingSlider .arrow a,
.anythingSlider .start-stop {
    transition-duration: 0;
    -o-transition-duration: 0;
    -moz-transition-duration: 0;
    -webkit-transition-duration: 0;
}

.team {
    overflow: visible;
    position: relative;
    min-height: 700px;
}

.team nav {
    position: absolute;
    left: 50%;
    margin-left: 32px;
    bottom: 17px;
    z-index: 2;
}

.team nav .btn {
    padding-left: 0;
    width: 15px;
    height: 25px;
}





.team nav .btn.team-slide-prev:before:hover {
    left: 0;
}

.team nav .btn:hover:before,
.team nav .btn:active:before,
.team nav .btn:focus:before,
.team nav .btn:target:before {
    right: 0;
}

.team nav .btn.team-slide-next:hover:before {
    left: auto;
}

.no-touch .team nav .btn:hover:before {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

.team nav .count {
    display: inline-block;
    text-align: center;
    padding: 0 7px;
}



.slider-wrap {
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    height: 800px;
}

.slider-wrap .slide {
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-wrap ul {
    list-style: none;
    padding: 0;
}

.slider-wrap .panel {
    border: 0;
    border-radius: 0;
}

.active-slider {
    left: 0;
    width: 50%;
    height: 100%;
    margin-top: 0;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.active-slider .wrapper {
    width: 45% !important;
    float: right;
    margin-right: 25px;
    height: auto !important;
    opacity: 0;
    filter: alpha(opacity=0);
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -transform: translateY(-50%);
    margin-top: -5%;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.active-slider .activePage .wrapper {
    opacity: 1;
    filter: alpha(opacity=100);
}

.active-slider .anythingWindow {
    background: #fff;
}

.active-slider .slide {
    background-position: 50% 50%;
}

.active-slider h3 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.045em;
    margin-bottom: 0;
}

.active-slider h4 {
    font-weight: 500;
    font-size: 2rem;
    margin-top: 5px;
}

.active-slider p {
    font-size: 1.6rem;
}

@media (max-width:1270px) {
    .active-slider .wrapper {
        width: 47% !important;
        margin-right: 5px;
        margin-top: -13%;
    }
    .active-slider p {
        font-size: 1.35rem;
    }
}

.team-slider {
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -transform: translateY(-50%);
    position: absolute;
    height: 80%;
    width: 67%;
    right: 0;
}

.team-slider .slide {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    background-position: 0% 50%;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
}



.team-slider:hover .slide {
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.team-slider:hover .slide:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.team-slider .mobile-wrap {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.team-slider .mobile-wrap .overlay {
    display: none;
}







.team-slide-prev::before {
    background-image: url("../images/prev.png");
}
.team-slide-next::before {
    background-image: url("../images/next.png");
}
.btn.btn-default::before {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    content: "";
    display: block;
    height: 25px;
    left: 0;
    position: absolute;
    top: -1px;
    transition: all 0.6s ease 0s;
    width: 15px;
}
.btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:focus, .btn.btn-default:target {
    color: #57b219;
}
.btn.btn-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0 0 0 1.5em;
    position: relative;
    text-align: left;
}
.btn {
    border: medium none;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-transform: uppercase;
    white-space: normal;
}