body{
    background-color: #000;
}
#first {
    overflow:hidden;
    height:2000px;
    margin-left: 20px;
}
img {
  position: fixed;
  
}
.img7 {
    display: none;
}
.txt1,.txt2,.txt3,.txt4,.txt5,.txt6,.txt7{
    display: none;
	position:fixed;
	color:white;
}

/*//////////////////////////////// Text Change Styling////////////////////////////*/
#outer,
#outer1,
#changingtext1,
#changingtext
{
    padding:0;
    margin:0;
    font-size: 40px;
     font-weight: bold;
     font-family: helvetica, arial, sans-serif;
     color: #fff;
}

#next,
#next1{
    padding:0;
    margin:0;
      font-size: 40px;
     font-weight: bold;
    font-family: helvetica, arial, sans-serif;  
}
